@using Server.Models.UserInterface

<div id="game-logo">
    @GetLogo(_gameOne, "logo-one",  _gameOneIsVisible)
    @GetLogo(_gameTwo, "logo-two", !_gameOneIsVisible)
</div>


@code {
    private GameDisplayInfo? _gameOne;
    private GameDisplayInfo? _gameTwo;
    private bool _gameOneIsVisible;

    [Parameter]
    public GameDisplayInfo? Game
    {
        set
        {
            if (value is null)
            {
                return;
            }

            if (_gameOneIsVisible)
            {
                _gameTwo = value;
            }
            else
            {
                _gameOne = value;
            }
            _gameOneIsVisible = !_gameOneIsVisible;
            StateHasChanged();
        }
    }

    private RenderFragment GetLogo(GameDisplayInfo? game, string divClass, bool isVisible)
    {
        if (game is null)
        {
            return @<div></div>;
        }

        var visibilityClass = isVisible ? "" : "hide";
        return string.IsNullOrWhiteSpace(game.Logo)
            ? @<div class="logo text @divClass @visibilityClass">@(game.Name)</div>
            : @<img class="logo @divClass @visibilityClass" src="@game.Logo" alt="@game.Name"/>;
    }
}
